# Binaries for programs and plugins
main
vnds
*.nds
*.elf
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/
build/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
